#images {
  width: 500px;
  border: thin solid black;
}

#images img {
  width: 100px;
}

body{
  background-color: #004C54;
  }

  #links {
    color: white;
  }

  #languages {
    color: white;
  }

  #externallink {
    color: white;
    font-size: 10px;
  }

h1 {
  color: #A5ACAF;
  text-shadow: 1px 1px black;
  text-align: center;
  text-decoration: underline;
}

  h2 {
    color: #ACC0C6;
    text-shadow: 1px 1px black;
    text-decoration: underline;
  }

  hr {
    width: 50%;
    text-align: left;
    margin-left: 0;
  }

  a {
    color: white;
  }
