body{
  background-color: #004C54;
  }

p {
  text-align: center;
  font-family: 'Krona One';
  color: #A5ACAF;
  font-size: 20px;
  margin-left: 200px;
  margin-right: 200px;
}

h1 {
  color: #000000;
   text-align: center;
   font-family: 'Krona One'
}

h4 {
  color: #A5ACAF;
  text-align: center;
  font-family: 'Krona One'
}

.italic{
  font-style: italic;
  font-size: 23px;
  color: #A5ACAF;
}

.underline {
  text-decoration: underline;
}

#top {
  color: #A5ACAF;
  font-size: 15px;
}
